* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: yellow;
    align-items: center;
}

.fondo {
    background-image: url(../assets/fondolimpio.jpg);
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.tabla{
    padding: 0%;
    margin: 0%;
}

.pacmanmotion {
    position: relative;
    animation: pacmanmotion 15s infinite; 
}

/*tamaño de mi portatil*/

@keyframes pacmanmotion {
    0%  {top: 0px; left: 0px; }
    5%  {top: 50px; left: 0px; }  
    10% {top: 50px; left: 150px; }
    20% {top: 200px; left: 150px; }
    25% {top:200px ; left:250px; }
    35% {top: 300px; left: 250px; }
    45% {top:300px ; left: 500px;  }
    55% {top: 370px; left:500px; }
    65% {top:370px ; left: 580px; }
    70% {top: 200px; left: 580px;  }   
    80% {top: 200px; left: 480px;  }
    85% {top: 120px; left: 480px; rotate: 0deg; }
    90% {top:120px; left:370px; rotate: 0deg; }
    95% {top: 200px; left: 370px; rotate: 360deg;}

  }
  

  @media screen and (min-width: 311px) and (max-width: 768px) {
    body{
        background-color: rebeccapurple;
    }
    .fondo {
        background-image: url(../assets/fondolimpio.jpg);
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    @keyframes pacmanmotion {
        0%  {top: 0px; left: 0px;}
        5%  {top: 30px; left: 0px;}  
        10% {top: 35px; left: 95px;}
        20% {top: 140px; left: 95px;}
        25% {top:140px ; left:160px;}
        35% {top: 200px; left: 160px;}
        45% {top:200px ; left: 340px;}
        55% {top: 260px; left: 340px;}
        65% {top:260px ; left:480px;}
        70% {top: 320px; left: 480px;}   
        90% {top: 320px; left: 450px;}
        95% {top: 365px; ; left:450px;}
        100% {top: 365px; left: 490px;}
        110% {top: 400px; left:490px ;}
        
      }
    }

      @media screen and (min-width: 769px) and (max-width: 1200px) {
        body{
            background-color: peru;
        }
        .fondo {
            background-image: url(../assets/fondolimpio.jpg);
            width: 100vw;
            height: 100vh;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        @keyframes pacmanmotion {
            0%  {top: 0px; left: 0px; }
            5%  {top: 50px; left: 0px; }  
            10% {top: 50px; left: 150px; }
            20% {top: 200px; left: 150px; }
            25% {top:200px ; left:230px; }
            35% {top: 280px; left: 230px; }
            45% {top:280px ; left: 460px;  }
            55% {top: 370px; left:460px; }
            65% {top:370px ; left: 550px; }
            70% {top: 200px; left: 550px;  }   
            80% {top: 200px; left: 470px;  }
            85% {top: 120px; left: 470px; rotate: 0deg; }
            90% {top:120px; left:350px; rotate: 0deg; }
            95% {top: 200px; left: 350px; rotate: 360deg;}
          }
      }
      audio{
        width: 200px;
        border-radius: 100px;
        transform: scale(1.05);
     }
      