* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: rgb(211, 211, 26);
}

.fondo {
    background-image: url(../assets/fondolimpio.png);
    background-size: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}

.pacmanmotion {
    position: relative;
    animation: pacman 15s infinite;

}

@keyframes pacman {
    0%   {top: 15px; left: 0px;}
    5%  {top: 15px; left: 155px;}
    8%  {top: 75px}
    100% {top: 100px;}
  }