* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: rgb(211, 211, 26);
    
}

.fondo {
    background-image: url(../assets/fondolimpio.jpg);
    text-align: center;
    align-items: center;
    background-size: 100%;
    height: 70vh;
    background-repeat: no-repeat;

}

.pacmanmotion {
    position: relative;
    animation: pacmanmotion 15s infinite; 
    animation-delay: 1s;

}


@keyframes pacmanmotion {
    0%  {top: 0px; left: 0px;}
    5%  {top: 60px; left: 0px;}  
    10% {top: 60px; left: 60px;}
    20% {top: 120px; left: 60px;}
    25% {top:120px ; left:130px;}
    35% {top: 300px; left: 130px;}
    45% {top:300px ; left: -120px; }
    55% {top: 130px; left:-120px;}
    65% {top:130px ; left:130px;}
    70% {top: 200px; left: 130px;}   
    90% {top: 200px; left: 400px;}
   
    
  }
  .centrar{
    display: flex;
    justify-content: center !important;
  }